# .env.example - generated with dotenvx

AWS_REGION=''

AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_LAMBDA_FUNCTION_NAME=''

AWS_BUCKET=''
UNVALIDATED_IMAGE_PATH=''
VALIDATED_IMAGE_PATH=''

BUCKSHOT_SSH_HOSTNAME=''
BUCKSHOT_PROJECT_DIR=''